.wrap{
  text-align: center;
  padding: 2% 15%;
}
@media only screen and (max-width: 1200px) {
  .wrap {
      padding: 1% 7%;
  }
}
@media only screen and (max-width: 900px) {
  .wrap {
      padding: 0;
  }
}

h1{
  color: royalblue;
}