<form fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap.gt-xs="20px" #f="ngForm" style="padding-bottom: 20px">
  <mat-form-field>
    <input matInput id="name" type="text" #name [(ngModel)]="names" name="name"  placeholder="Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="date" #date [(ngModel)]="dates" name="date" >
  </mat-form-field>
  <button mat-icon-button color="primary" (click)="save(name.value, date.value)"><mat-icon>add circle</mat-icon></button>
</form>

<p fxLayoutAlign="center center" style="margin: 5px">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</p>

<mat-table [dataSource]="dataSource" matSort matSortActive="days" matSortDirection="asc">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Geburtstag</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.date | date:'dd-MM-yyyy'}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="days">
    <mat-header-cell *matHeaderCellDef mat-sort-header>in ... Tagen</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.days}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="years">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Wird wie alt</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.years}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element"><a class="delClick" (click)="delete(element.name, element.date)">X</a></mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
  
<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>